ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-menu.md ion-list {
    padding: 20px 0;
}

ion-menu.md ion-note {
    margin-bottom: 30px;
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
    padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
    margin-bottom: 18px;
    color: #757575;
    min-height: 26px;
}

ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
    color: #616e7e;
}

ion-menu.md ion-item ion-label {
    font-weight: 500;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
}

ion-menu.ios ion-item .selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
}

ion-item.selected
{
    --color: var(--ion-color-primary);
}



#menu-list > ion-note {
    padding-top: 8px;
}

.menu-body-btn
{
    font-size: 16px;
    font-weight: bold;
}

.menu-header-label
{
    font-size: 24px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    color: var(--ion-color-cmvi-primary) !important;
}

#menu-list {
    padding-top: 0;
}

#menu-list > ion-menu-toggle:nth-child(1) > ion-item
{
    background-color: var(--ion-color-cmvi-primary) !important;
}

#menu-list > ion-menu-toggle:nth-child(n+3) > ion-item { margin: 4px 0; }

.arrow-detail-color
{
    --ion-item-background: transparent;
    --ion-item-color: white;
    --background: transparent;
    --detail-icon-opacity: 1 opacity;
}

#menu-list > ion-menu-toggle:nth-child(1) > ion-item > ion-icon  {
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-cmvi-primary) !important;
    /*border-radius: 42px;*/
}

#menu-list > ion-item:nth-child(2) > ion-icon{
    font-size: 18px;
    color: grey !important;
}

#menu-list > ion-item:nth-child(2) > ion-label
{
    font-size: 18px!important;
    padding-left: 4px;
    color: grey !important;
}

.page_button
{
    font-weight: normal;
    height: auto;
}

.page_button > ion-icon {
    font-size: 28px !important;
    color: grey !important;
}

.page_button:nth-child(1) > ion-icon {
    font-size: 24px !important;
    color: grey !important;
}

#menu-list > ion-menu-toggle:nth-of-type(3) > ion-item > .page_button > ion-icon {
    font-size: 20px !important;
}

.page_button > ion-label
{
    font-size: 16px!important;
    padding-left: 8px;
    color: grey !important;
}
