.blue { height: 8vh; background-color: blue; }
.red { height: 16vh; background-color: red; }
.green { height: 32vh; background-color: green; }

#dispatch-card-component > .filterContainer
{
    margin: 1.5vh 1vw 1vh 1vw;
}
