@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.menuCM-container > ion-item
{
    width: 33vw;
    display: inline-block;
    margin: 6vh auto;
}

.menuCM-icon
{
    font-size: 25vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
