.title-default
{
    color : white;
    overflow: visible !important;
    font-size: 21px;
    line-height: 21px;
    background-color : var(--ion-color-primary);
}

ion-menu-button
{
    color : white;
}

.title-default > ion-icon
{
    font-size: 150px;
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.title-default > span
{
    display: inline-block;
    vertical-align: middle;
}


