
/** CM types Class Variables **/

.ion-color-cmbm-primary { --ion-color-base: var(--ion-color-cmbm-primary); }
.ion-color-cmbm-secondary { --ion-color-base: var(--ion-color-cmbm-secondary); }

.ion-color-cmgo-primary { --ion-color-base: var(--ion-color-cmgo-primary); }
.ion-color-cmgo-secondary { --ion-color-base: var(--ion-color-cmgo-secondary); }

.ion-color-cmvi-primary { --ion-color-base: var(--ion-color-cmvi-primary); }
.ion-color-cmvi-secondary { --ion-color-base: var(--ion-color-cmvi-secondary); }

.ion-color-cmme-primary { --ion-color-base: var(--ion-color-cmme-primary); }
.ion-color-cmme-secondary { --ion-color-base: var(--ion-color-cmme-secondary); }

.ion-color-cmbp-primary { --ion-color-base: var(--ion-color-cmbp-primary); }
.ion-color-cmbp-secondary { --ion-color-base: var(--ion-color-cmbp-secondary); }

.ion-color-cmbo-primary { --ion-color-base: var(--ion-color-cmbo-primary); }
.ion-color-cmbo-secondary { --ion-color-base: var(--ion-color-cmbo-secondary); }

.ion-color-cmex-primary { --ion-color-base: var(--ion-color-cmex-primary); }
.ion-color-cmex-secondary { --ion-color-base: var(--ion-color-cmex-secondary); }

.ion-color-cmbl-primary { --ion-color-base: var(--ion-color-cmbl-primary); }
.ion-color-cmbl-secondary { --ion-color-base: var(--ion-color-cmbl-secondary); }

.ion-color-cmpr-primary { --ion-color-base: var(--ion-color-cmpr-primary); }
.ion-color-cmpr-secondary { --ion-color-base: var(--ion-color-cmpr-secondary); }

.ion-color-cmbe-primary { --ion-color-base: var(--ion-color-cmbe-primary); }
.ion-color-cmbe-secondary { --ion-color-base: var(--ion-color-cmbe-secondary); }