
/* Screen size hidden */
.invisible {
   visibility: hidden !important;
}

/* Custom Fix Css */
.columnFix { column-count: 1; column-gap: 0px; }

.pins {
    padding: 0;
}

.pin {
    display: grid;
    width: 100%;
    padding: 0;
    /*background: grey;*/
}

/* XXS and up */
.hidden-xxs-up { display: none !important; }

/* XXS and down */
@media (max-width: 320px)
{
    .hidden-xxs-down { display: none !important; }
}

/* XS and up */
@media (min-width: 321px)
{
    .hidden-xs-up { display: none !important; }
    .columnFix { column-count: 1; }
}

/* Between XS */
@media ( min-width: 321px ) and ( max-width: 575px )
{
    .hidden-xs-between { display: none !important; }
}

/* XS and down */
@media (max-width: 575px)
{
    .hidden-xs-down { display: none !important; }
}

/* XXS and up */
@media (min-width: 576px)
{
    .hidden-sm-up { display: none !important; }
    .columnFix { column-count: 1 !important; }
}

/* Between SM */
@media ( min-width: 576px ) and ( max-width: 767px )
{
    .hidden-sm-between { display: none !important; }
}

/* SM and down */
@media (max-width: 767px)
{
    .hidden-sm-down { display: none !important; }
}

/* MD and up */
@media (min-width: 768px)
{
    .hidden-md-up { display: none !important; }
    .columnFix { column-count: 2 !important; }
}

/* Between MD */
@media ( min-width: 768px ) and ( max-width: 991px )
{
    .hidden-md-between { display: none !important; }
}

/* MD and down */
@media (max-width: 991px)
{
    .hidden-md-down { display: none !important; }
}

/* LG and up */
@media (min-width: 992px)
{
    .hidden-lg-up { display: none !important; }
    .columnFix { column-count: 2 !important; }
}

/* Between LG */
@media ( min-width: 992px ) and ( max-width: 1199px )
{
    .hidden-lg-between { display: none !important; }
}

/* LG and down */
@media (max-width: 1200px)
{
    .hidden-lg-down { display: none !important; }
}

/* XL and up */
@media (min-width: 1200px)
{
    .hidden-xl-up { display: none !important; }
    .columnFix { column-count: 3 !important; }
}

/* Between XL */
@media (min-width: 1200px) and (max-width: 1366px)
{
    .hidden-xl-between { display: none !important; }
}

/* XL and down */
@media (max-width: 1366px)
{
    .hidden-xl-down { display: none !important; }
}

/* XXL and up */
@media (min-width: 1367px)
{
    .hidden-xxl-up { display: none !important; }
    .columnFix { column-count: 4 !important; }
}

/* Between XXL */
@media (min-width: 1367px) and (max-width: 1920px)
{
    .hidden-xl-between { display: none !important; }
}

/* XXL and down */
@media (max-width: 1921px)
{
    .hidden-xxl-up { display: none !important; }
}

/* Wider and infinite */
@media (min-width: 1921px)
{
    .hidden-wider { display: none !important; }
    .columnFix { column-count: 5 !important; }
}
