.edit-card-check-label
{
    font-size: 14px !important;
}

.edit-card > ion-card-content:nth-child(2)
{
    padding: 0;
}

.edit-card > ion-card-content:nth-child(2) > ion-button > ion-icon
{
    margin-right: 8px;
}

.edit-card-btn-send
{
    margin: 0;
}
