
.main-card ion-card-header {padding-bottom: 0px; }
.main-card ion-card-content { padding-bottom: 0px; padding-top: 0px }
.main-card ion-card-header ion-grid { padding-bottom: 0px; }

.main-card .main-card-subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 50%;
}

.main-card .main-card-header-subtitle-container {
    display: inline-block;
    vertical-align: middle;
}

.main-card .main-card-header-trophy {
    display: inline-block;
    float : none !important;
    margin: 0 8px 0 0 !important;
    vertical-align: middle;
    max-width: 32px !important;
    max-height: 32px !important;
}

.main-card .main-card-header-subtitle:nth-last-child(1) { margin-top: 4px }
.main-card .main-card-header-subtitle:nth-last-child(2) {}

.main-card ion-avatar {
    width:100% !important;
    height : 100% !important;
    max-width: 28px !important;
    max-height: 28px !important;
    float: right;
}

.main-card ion-avatar:nth-child(1) {
    margin-left: 12px;
}

.main-card ion-avatar > img {
    border-radius: 0px;
}

.main-card ion-card-title {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-card .main-card-ctrl ion-row:nth-child(1)
{
    display: flex;
    justify-content: space-between;
}

.main-card .main-card-body ion-img
{
    object-fit: cover !important;
    height: 33vh;
}

.main-card .main-card-ctrl ion-button { }
.main-card .main-card-ctrl ion-label { padding-left: 8px;}

.main-card .main-card-ctrl ion-col:nth-child(1) { display: flex; justify-content: flex-start; }
.main-card .main-card-ctrl ion-col:nth-child(2) { display: flex; justify-content: flex-end; }
/*.main-card .main-card-ctrl ion-col:nth-child(3) { display: flex; justify-content: flex-end; }*/
.main-card .main-card-ctrl ion-button:nth-child(1) { margin-left: 0; justify-content: flex-end; align-items: flex-end; display: flex; }
.main-card .main-card-ctrl ion-button:nth-child(2) { margin-left: 0; }
.main-card .main-card-ctrl ion-button:nth-child(3) { margin-left: auto; }

/*ion-popover ion-button { width: 84%; margin: 8% 8% 0 8%; }*/
/*ion-popover ion-button:last-child { margin-bottom: 8% }*/

ion-popover { text-align: center}
ion-popover ion-button { display: inline-block; vertical-align: middle; }
ion-popover ion-button ion-icon { width: 32px; height: 32px; }

ion-popover ion-button ion-label
{
    padding-left: 8%;
}
