.profile-card-check-label
{
    font-size: 14px !important;
}

ion-item-divider:nth-child(1)
{
    margin-top: 0px !important;
}

ion-item-divider
{
    border : none !important;
    margin-top: 12px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile-card > ion-card-content > ion-list
{
    padding: 0;
}

.profile-card > ion-card-content:nth-child(2)
{
    padding: 0;
}

.profile-card > ion-card-content:nth-child(2) > ion-button > ion-icon
{
    margin-right: 8px;
}

.profile-card-btn-send
{
    margin: 0;
}

.profile-card-delete-btn
{
    margin-left: auto !important;
    margin-right: auto !important;
}

.profile-card-delete-container
{
    text-align: center;
}
